.clobber-box-svg-svg .st0{fill:none;stroke:#547F91;stroke-width:1.5;stroke-miterlimit:10;}
.clobber-box-svg-svg .st1{fill:none;stroke:#547F91;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:1.9446,1.9446;}
.clobber-box-svg-svg .st2{fill:#547F91;}
.clobber-box-svg-svg .st3{fill:#FFFFFF;}
.clobber-box-svg-svg .st4{fill:none;stroke:#678C9C;stroke-width:1.5;stroke-miterlimit:10;}
.clobber-box-svg-svg .st5{fill:#6FCFC9;stroke:#6FCFC9;stroke-width:2;stroke-miterlimit:10;}
.clobber-box-svg-svg .st6{fill:none;stroke:#358285;stroke-width:1.7038;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.clobber-box-svg-svg .st7{fill:none;}
.clobber-box-svg-svg .st8{fill:none;stroke:#678C9C;stroke-width:2;stroke-miterlimit:10;}
.clobber-box-svg-svg .st9{fill:#FFFFFF;stroke:#678C9C;stroke-width:2;stroke-miterlimit:10;}
.clobber-box-svg-svg .st10{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}

