.shared-svg-svg .st0{fill:#F06368;stroke:#F06368;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st1{fill:#CA2128;}
.shared-svg-svg .st2{fill:url(#SVGID_1_);}
.shared-svg-svg .st3{fill:#BE2227;}
.shared-svg-svg .st4{fill:url(#SVGID_2_);}
.shared-svg-svg .st5{fill:#621310;}
.shared-svg-svg .st6{fill:url(#SVGID_3_);}
.shared-svg-svg .st7{fill:#D32034;}
.shared-svg-svg .st8{fill:url(#SVGID_4_);}
.shared-svg-svg .st9{fill:url(#SVGID_5_);}
.shared-svg-svg .st10{fill:url(#SVGID_6_);}
.shared-svg-svg .st11{fill:url(#SVGID_7_);}
.shared-svg-svg .st12{fill:#EF4C53;}
.shared-svg-svg .st13{opacity:0.61;fill:url(#SVGID_8_);}
.shared-svg-svg .st14{fill:url(#SVGID_9_);}
.shared-svg-svg .st15{fill:url(#SVGID_10_);}
.shared-svg-svg .st16{fill:#8FC733;stroke:#8FC733;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st17{fill:#FFFFFF;}
.shared-svg-svg .st18{fill:#8FC733;}
.shared-svg-svg .st19{fill:#A1CCCC;stroke:#A1CCCC;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st20{fill:#FFA3A9;}
.shared-svg-svg .st21{fill:none;stroke:#C4C9C9;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st22{fill:#ABB0B0;}
.shared-svg-svg .st23{fill:#FFCC66;stroke:#FFCC66;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st24{fill:#3672A7;}
.shared-svg-svg .st25{fill:#F1AA1D;}
.shared-svg-svg .st26{fill:#DFDFDF;stroke:#DFDFDF;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st27{fill:#4A81AB;}
.shared-svg-svg .st28{fill:#5EA5DB;}
.shared-svg-svg .st29{fill:#AAC1D6;}
.shared-svg-svg .st30{fill:none;stroke:#5EA5DB;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st31{fill:none;stroke:#5EA5DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.5807,2.3871;}
.shared-svg-svg .st32{fill:none;stroke:#5EA5DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.1191,2.0794;}
.shared-svg-svg .st33{fill:none;stroke:#5EA5DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.1194,2.0796;}
.shared-svg-svg .st34{fill:none;stroke:#5EA5DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.1197,2.0798;}
.shared-svg-svg .st35{fill:#B07C5C;stroke:#B07C5C;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st36{fill:#DFDFDF;}
.shared-svg-svg .st37{clip-path:url(#SVGID_12_);fill:#D69F72;}
.shared-svg-svg .st38{clip-path:url(#SVGID_14_);fill:#B37E5D;}
.shared-svg-svg .st39{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.shared-svg-svg .st40{fill:none;stroke:#DFDFDF;stroke-linecap:round;stroke-miterlimit:10;}
.shared-svg-svg .st41{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st42{fill:#9CB3F0;stroke:#9CB3F0;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st43{fill:#52638F;}
.shared-svg-svg .st44{fill:#374E78;}
.shared-svg-svg .st45{fill:#2D3652;}
.shared-svg-svg .st46{fill:#FF3030;stroke:#FF3030;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st47{fill:#B32222;}
.shared-svg-svg .st48{fill:#FF0000;}
.shared-svg-svg .st49{fill:#5ECC81;stroke:#5ECC81;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st50{fill:#1F8B35;}
.shared-svg-svg .st51{fill:#2BA240;}
.shared-svg-svg .st52{fill:none;stroke:#D6CBA6;stroke-miterlimit:10;}
.shared-svg-svg .st53{fill:#7197EE;stroke:#7197EE;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st54{fill:#4A67A8;}
.shared-svg-svg .st55{fill:#FFC88D;}
.shared-svg-svg .st56{fill:url(#path3352_1_);}
.shared-svg-svg .st57{fill:url(#path4028_1_);}
.shared-svg-svg .st58{fill:#002B64;}
.shared-svg-svg .st59{fill:#678AD9;}
.shared-svg-svg .st60{fill:#394E80;}
.shared-svg-svg .st61{fill:#C7FFFA;}
.shared-svg-svg .st62{fill:#D1DEE8;stroke:#D1DEE8;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st63{fill:#3D8EC9;}
.shared-svg-svg .st64{fill:#2C668F;}
.shared-svg-svg .st65{fill:#DB2317;stroke:#DB2317;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st66{fill:#AB1B12;}
.shared-svg-svg .st67{fill:#FF3226;}
.shared-svg-svg .st68{fill:#F25C5C;stroke:#F25C5C;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st69{fill:#FCFCFC;}
.shared-svg-svg .st70{fill:#FF8754;}
.shared-svg-svg .st71{fill:#35C7F0;stroke:#35C7F0;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st72{fill:#FFD56B;}
.shared-svg-svg .st73{fill:#FFEE9E;}
.shared-svg-svg .st74{fill:#FFFCE6;}
.shared-svg-svg .st75{fill:#0D96BD;stroke:#0D96BD;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st76{fill:#0A7594;}
.shared-svg-svg .st77{fill:#FFF6FF;}
.shared-svg-svg .st78{fill:#FFD86E;}
.shared-svg-svg .st79{fill:#F5CC5B;}
.shared-svg-svg .st80{fill:#EBA83D;}
.shared-svg-svg .st81{fill:none;stroke:#B9DFF0;stroke-miterlimit:10;}

