.shared-svg-svg .st0{fill:#F06368;stroke:#F06368;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st1{fill:#CA2128;}
.shared-svg-svg .st2{fill:url(#SVGID_1_);}
.shared-svg-svg .st3{fill:#BE2227;}
.shared-svg-svg .st4{fill:url(#SVGID_2_);}
.shared-svg-svg .st5{fill:#621310;}
.shared-svg-svg .st6{fill:url(#SVGID_3_);}
.shared-svg-svg .st7{fill:#D32034;}
.shared-svg-svg .st8{fill:url(#SVGID_4_);}
.shared-svg-svg .st9{fill:url(#SVGID_5_);}
.shared-svg-svg .st10{fill:url(#SVGID_6_);}
.shared-svg-svg .st11{fill:url(#SVGID_7_);}
.shared-svg-svg .st12{fill:#EF4C53;}
.shared-svg-svg .st13{opacity:0.61;fill:url(#SVGID_8_);}
.shared-svg-svg .st14{fill:url(#SVGID_9_);}
.shared-svg-svg .st15{fill:url(#SVGID_10_);}
.shared-svg-svg .st16{fill:#65BC81;stroke:#65BC81;stroke-width:2;stroke-miterlimit:10;}
.shared-svg-svg .st17{fill:#1F8B35;}
.shared-svg-svg .st18{fill:#2BA240;}
.shared-svg-svg .st19{fill:none;stroke:#D6CBA6;stroke-miterlimit:10;}

