.admin-manage    { background:white; padding:45px 12px 50px; display:flex; align-items: center; width:600px;
  .actions       { display: flex; justify-content: space-between; width:100%;
    .action      { display: flex; flex-direction: column; align-items: center; width:120px; cursor:pointer;
      .name      { color:#029ADB;  text-transform: uppercase; margin:8px 0 5px; font-size:14px; }
      .short     { text-align: center; font-style: italic; color:#547F91; font-size:12px;  }
      &.manage   { width: 200px; position:relative; margin-right:-15px;
        &:before { content:""; display:block; height:100px; position: absolute; left:30px; border-left:solid 1px #EEE; padding-left:20px; margin-left:-15px; }
      }
      &:hover    {
        .name    { color:#005980; }
        svg      {
          circle { fill:#005980; }
        }
      }
    }
  }
}
