.box               { width:600px; margin-bottom:20px;
  .white-box       { padding:0 10px; height:60px; background:white; display:flex; align-items: center;}
  .stats           { margin:0 10px 0 auto; }
  .name            { color:$slate-blue; }
  .id              {
    *              { color:$slate-blue; }
    .service-name  { text-transform: uppercase; }
  }
  .service-icon    { width:31px; margin:2px 3px 0 0;
    &.ruby .bg     { fill:none; }
    &.mongo-db .bg { fill:none; }
  }

  // HOST BOX
  &.host-box       {
    .name          { font-size:30px; margin-right:10px;}
    .service-icons { display:flex;

    }
  }

  // CLUSTER BOX
  &.cluster-box    {
    .component     { position: relative; margin-left:20px;
      .icon        { width:31px; }
      .total       { position: absolute; right:-8px; bottom:0; background:$link-blue; width:20px; height:20px; color:white; border-radius: 50%; text-align: center; font-size:12px; line-height: 20px; }
    }
  }

  // Component Box
  &.component-box {
    .white-box    { background: none; position:relative; }
    .id           { margin-left:30px; }
    .corner-box   { position:absolute;z-index:-1; left:-12px;}
    .service-bug  { position:relative;
      > *         { position:absolute; }
      .bg-hex     { background:url('../assets/cobber-box-sprite.png'); width:65px; height:75px; top:-48px; left:-42px; }
      svg         { top:-41px; left:-33px; }

    }
  }

}
