$saver-height: 50px;
.saver      { height:$saver-height; background:#E8E8E8; display:flex; justify-content: flex-end;
  .save-btn { background: white; color:$link-blue; padding:0 30px; text-transform:uppercase; line-height: 50px; cursor:pointer;
    &:hover { background:darken($link-blue,10%); color:white; }
  }
}
