.split-holder { background: white; height: 200px; display:flex; align-items: center; padding:20px; justify-content: center;
  .temp       { width:300px; text-align: center; font-style:italic; color:#B5B5B5; border: dashed 2px #86DADF; padding:30px;}
}
