.stats-wrapper         { width:$component-width;;
  .title               { text-align: center; color:#547F91; font-style:italic; font-size:12px; padding: 20px 0;  }
  .hourly              { display:flex; width:$component-width;; justify-content: space-between; margin-bottom:5px;
    .hourly-avgs-wrap  { background:white; width:250px;
      svg              { margin-top:-35px; }
    }
    .hourly-stats-wrap { background:#FEFEFE; width:345px; box-sizing: border-box; padding:0px 20px 20px 24px;
      .title           { text-align: left; }
      .slider.open     { left: -298px; }
    }
  }
  .breakdown-wrap      { background:white; padding:0px 30px; }
}
