body {
  margin: 0;
  padding: 10px 47px;
  background: #DFDFDF;
  min-height: 2000px; }
  body .btns {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column; }
    body .btns button {
      margin: 4px; }

.ui-shim {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 12px; }
  .ui-shim .label {
    font-style: italic;
    color: #949494;
    margin-bottom: 4px; }
  .ui-shim .state {
    display: flex;
    margin-bottom: 13px;
    align-items: baseline; }
    .ui-shim .state > * {
      margin: 0 2px; }
