.box.cluster-box
  .main-content
    .animation
      .svg-holder
      .title
    .white-box
      .corner-box
        img.shadow-icon(data-src="corner-bg" )
      if scalesHoriz
        .total=totalMembers
      .id
        .name=name
        .hosts <span>Cluster : </span>#{_serviceType.name}
      .stats-strip
  .service-bug  
    .bg-hex
    .icon
      img.shadow-icon(data-src="hex-#{_serviceType.id}", scalable="true" )
  .nav-holder
  .sub
    .sub-content
    
