.box.component-box
  .white-box
    .corner-box
      img.shadow-icon(data-src="corner-bg" )
    
    .service-bug  
      .bg-hex
      img.shadow-icon(data-src="hex-#{serviceType}" )
    .id
      .name=name
      .service-name=serviceType
    .stats
  .nav-holder
  .sub-content
