.box.component-box
  .main-content
    .animation
      .svg-holder
      .title
    .white-box
      .corner-box
        img.shadow-icon(data-src="corner-bg" )
      
      .id
        .name=name
        .service-name=serviceType
      .stats-strip
  .service-bug  
    .bg-hex
    img.shadow-icon(data-src="hex-#{serviceType}" )
  .nav-holder
  .sub
    .sub-content
    
