.deploy-instructions
  .main
    img.shadow-icon(data-src="deploy-inst")
    .title Deploy your app
    .sub-title Show Instructions
  .details
    .close-btn
      img.shadow-icon(data-src="close-x")
    .detail
      .icon
        img.shadow-icon(data-src="deploy-laptop")
      .info
        .title Install Nanobox 
        .sub
          a(href="//nanobox.io/download/" target="_blank") Download nanobox
    .detail
      .icon
        img.shadow-icon(data-src="deploy-code")
      .info
        .title Develop your app
        .sub
          .txt <a href="//guides.nanobox.io" target="_blank">Choose Your Language</a>
          //- .code
          //-   .line <span>nanobox</span> run
    .detail
      .icon
        img.shadow-icon(data-src="deploy-app-drip")
      .info
        .title Deploy
        .sub
          .txt cd into your app's directory and run
          .code
            .line <span>nanobox</span> remote add #{appName}
            .line <span>nanobox</span> deploy
