.deploy-instructions
  .main
    img.shadow-icon(data-src="deploy-inst")
    .title Deploy your app
    .sub-title Show Instructions
  .details
    .close-btn
      img.shadow-icon(data-src="close-x")
    .detail
      .icon
        img.shadow-icon(data-src="deploy-laptop")
      .info
        .title Install Nanobox Locally
        .sub
          a(href="#") Download nanobox
    .detail
      .icon
        img.shadow-icon(data-src="deploy-code")
      .info
        .title Develop your app locally
        .sub
          a(href="https://docs.nanobox.io/local-dev/") Documentation for developing your app locally
    .detail
      .icon
        img.shadow-icon(data-src="deploy-app-drip")
      .info
        .title Build and Deploy
        .sub
          .txt cd into your app's directory and run
          .code
            .line <span>nanobox</span> link #{app.name}
            .line <span>nanobox</span> build
            .line <span>nanobox</span> deploy
