.deploy-instructions
  .main
    img.shadow-icon(data-src="deploy-inst")
    .title Deploy your app
    .sub-title Show Instructions
  .details
    .close-btn
      img.shadow-icon(data-src="close-x")
    .detail
      .icon
        img.shadow-icon(data-src="deploy-laptop")
      .info
        .title Install Nanobox Locally
        .sub
          a Download nanobox
          a Connect to your account
    .detail
      .icon
        img.shadow-icon(data-src="deploy-code")
      .info
        .title Develop your app locally
        .sub
          a Guide to Developing your app locally
    .detail
      .icon
        img.shadow-icon(data-src="deploy-app-drip")
      .info
        .title Build and Deploy
        .sub
          .txt cd into your app's directory and run
          .code
            .line <span>nanobox</span> link goat-parapet
            .line <span>nanobox</span> build
            .line <span>nanobox</span> deploy
