.box.host-box
  .main-content
    .animation
      .svg-holder
      .title
    .white-box
      .name=name
      .service-icons
        each service in appComponents
          .service-icon(class="#{service.serviceType}")
            img.shadow-icon(data-src="hex-#{service.serviceType}" scalable="true", xtra="2")
      .stats
  .nav-holder
  .sub
    .sub-content
    
