.box.host-instance-box
  .main-content
    .animation
      .svg-holder
      .title
    .white-box
      .square-service-icon
        img.shadow-icon(data-src="hex-#{componentData.serviceType}" )
      .name <span>Host: </span>#{memberData.hostName}
      .service-icons
      .stats-strip
  .nav-holder
  .sub
    .sub-content
    
