.box.host-box
  .white-box
    .name=name
    .service-icons
      each service in appComponents
        .service-icon(class="#{service.serviceType}")
          img.shadow-icon(data-src="#{service.serviceType}" scalable="true", xtra="2")
    .stats
