.no-components.app-components
  .title No App Components Deployed
  .sub Guides : Deploying a specific Language or Service
  .languages
    each language in languages
      a.language(href="#{language.guide}")
        img.shadow-icon(data-src="#{language.icon}")
        .txt=language.title
  .sub.general General Guides
  .guides
    a.guide(href="https://docs.nanobox.io/getting-started/deploy-code/") Deploying Code
    a.guide(href="https://docs.nanobox.io/scaling/") Scaling &amp; Moving Components
