.stats-wrapper
  .hourly
    .hourly-avgs-wrap
      .title Server Hourly Average Usage
    .hourly-stats-wrap
      .title 24 Hour History
  if kind == "host"
    .breakdown-wrap
      .title Resource Usage Breakdown
