@import '../lib/assets/core-styles/styles.scss';

body{ margin:0; padding:10px 47px; background:#DFDFDF; //min-height:2000px;
  .btns{position:fixed; right:0; display:flex; flex-direction:column;
    button{margin:4px;}
  }
}

.ui-shim{position:fixed; right: 10px; top:10px; font-size:12px;
  .label{ font-style:italic; color:#949494; margin-bottom:4px; }
  .state{display: flex; margin-bottom:13px; align-items: baseline;
    > * {margin:0 2px;}
    .txt{}
  }
}
